@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 204 17% 95%;
    --foreground: 224 71% 4%;
    --card: 204 17% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 204 17% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 233 47% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 17% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 204 17% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 261 44% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 17% 88%;
    --input: 204 17% 88%;
    --ring: 233 47% 48%;
    --chart-1: 233 47% 48%;
    --chart-2: 261 44% 66%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 233 47% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 233 47% 38%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 261 44% 66%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 6%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 210 40% 70%;
    --accent: 261 44% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 261 44% 76%;
    --chart-1: 233 47% 58%;
    --chart-2: 261 44% 76%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Sidebar variables */
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 233 47% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 233 47% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 261 44% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
